
<ngb-accordion #acc="ngbAccordion" class="mb-2" opened="false"><!--activeIds="ngb-panel-0"-->
    <ngb-panel>
        <ng-template ngbPanelTitle>
          <h3>Financial Details</h3>  
          </ng-template>
      <ng-template ngbPanelContent [type]="success">
        <div class="row gx-9 gy-6">
            <form autocomplete="off">
                <div class="row mb-6">
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Loan Account</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Hajj Account</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Per Load Act</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-6">
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Consumer Loan </span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Other Act # 1</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Other Act # 2</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-6">
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Other Act # 3 </span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Other Act # 4</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="2">Option 3</option>
                        </select>
                    </div>

                </div>
            </form>
        </div>
      </ng-template>
    </ngb-panel>
</ngb-accordion>