
<ngb-accordion #acc="ngbAccordion" class="mb-2" opened="false"><!--activeIds="ngb-panel-0"-->
    <ngb-panel>
        <ng-template ngbPanelTitle>
          <h3 class="m-0">Approval Details Information</h3>  
          </ng-template>
      <ng-template ngbPanelContent>
        <div class="row gx-9 gy-6">
            <form autocomplete="off">  
                <div class="row mb-4">
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Approval 1 Role</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Role 1</option>
                            <option value="2">Role 2</option>
                            <option value="3">Role 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Approved By</span></label>
                        <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Date</span></label>
                        <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Approval 2 Role</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Role 1</option>
                            <option value="2">Role 2</option>
                            <option value="3">Role 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Approved By</span></label>
                        <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Date</span></label>
                        <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Approval 3 Role</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Role 1</option>
                            <option value="2">Role 2</option>
                            <option value="3">Role 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Approved By</span></label>
                        <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Date</span></label>
                        <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Approval 4 Role</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Role 1</option>
                            <option value="2">Role 2</option>
                            <option value="3">Role 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Approved By</span></label>
                        <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Date</span></label>
                        <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-4 fv-row">
                        <label class="col-form-label fw-bold fs-6"><span class="">Approval 5 Role</span></label>
                        <select class="form-control bg-light" aria-label="Select example">
                            <option>-Select-</option>
                            <option value="1">Role 1</option>
                            <option value="2">Role 2</option>
                            <option value="3">Role 3</option>
                        </select>
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Approved By</span></label>
                        <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                    <div class="col-lg-4 fv-row">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Date</span></label>
                        <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0"
                            name="nameInArabic" />
                    </div>
                </div>

            </form>
        </div>
      </ng-template>
    </ngb-panel>
</ngb-accordion>