<div class="card mb-5 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5 panel3bgColor">
        <div class="card-toolbar">
            <h3 class="text-dark">Manage Approvals</h3>
        </div>        
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
        <div class="row mb-4">
            <div class="col-lg-6 fv-row">
                <div class="card-toolbar">
                    <!--begin::Menu-->
                    <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
                        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
                        <span class="svg-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="5" y="5" width="5" height="5" rx="1" fill="currentColor"></rect>
                                    <rect x="14" y="5" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                    <rect x="5" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                    <rect x="14" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                </g>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </button>
                    <!--begin::Menu 2-->
                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px"
                        data-kt-menu="true">
                        <!--begin::Menu item-->
                        <div class="menu-item px-3">
                            <div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Quick Actions</div>
                        </div>
                        <!--end::Menu item-->
                        <!--begin::Menu separator-->
                        <div class="separator mb-3 opacity-75"></div>
                        <!--end::Menu separator-->
                        <!--begin::Menu item-->
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3">New Ticket</a>
                        </div>
                        <!--end::Menu item-->
                        <!--begin::Menu item-->
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3">New Customer</a>
                        </div>
                        <!--end::Menu item-->
                        <!--begin::Menu item-->
                        <div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start">
                            <!--begin::Menu item-->
                            <a href="#" class="menu-link px-3">
                                <span class="menu-title">New Group</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <!--end::Menu item-->
                            <!--begin::Menu sub-->
                            <div class="menu-sub menu-sub-dropdown w-175px py-4">
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">Admin Group</a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">Staff Group</a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">Member Group</a>
                                </div>
                                <!--end::Menu item-->
                            </div>
                            <!--end::Menu sub-->
                        </div>
                        <!--end::Menu item-->
                        <!--begin::Menu item-->
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3">New Contact</a>
                        </div>
                        <!--end::Menu item-->
                        <!--begin::Menu separator-->
                        <div class="separator mt-3 opacity-75"></div>
                        <!--end::Menu separator-->
                        <!--begin::Menu item-->
                        <div class="menu-item px-3">
                            <div class="menu-content px-3 py-3">
                                <a class="btn btn-primary btn-sm px-4" href="#">Generate Reports</a>
                            </div>
                        </div>
                        <!--end::Menu item-->
                    </div>
                    <!--end::Menu 2-->
                    <!--end::Menu-->
                </div>
            </div>
            <div class="col-lg-4 fv-row">                
                <select class="form-control form-control-solid">
                    <option>-Select-</option>
                    <option>Reason 1</option>
                    <option>Reason 2</option>
                    <option>Reason 3</option>
                    <option>Reason 4</option>
                </select>
            </div>
            <div class="col-lg-2 fv-row">
                <label class="col-form-label fw-bold fs-6"><span class="">Select Reason </span></label>
            </div>
            
            
        </div>
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                <!--begin::Table head-->
                <thead class="bg-secondary">
                    <tr class="fw-bolder">
                        <th class="min-w-80px text-center">Approval</th>
                        <th class="min-w-100px"># Employee</th>
                        <th class="min-w-140px">Employee Arabic Name</th>
                        <th class="min-w-120px">Services</th>
                        <th class="min-w-120px">Status</th>
                        <th class="min-w-120px">Tot Inst</th>
                        <th class="min-w-120px">Amount</th>
                        <th class="min-w-120px">Disc</th>
                    </tr>
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody>
                    <tr>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="text-success fw-bolder">
                                Approve
                            </a>
                            | <a href="javascript:void(0)" class="text-danger fw-bolder">
                                Reject
                            </a>
                            | <a href="javascript:void(0)" class="text-primary fw-bolder" (click)="open(employeePerformanceModal)">
                                Details
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)"
                                class="text-dark fw-bolder text-hover-primary  fs-6 ArFontStyle" lang="AR-SA"> 	1234-2343			
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                نجاه عبدالقادر جاسم القناعي
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Hajj Loan
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Online
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                5
                            </a>
                        </td> 
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                12200
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                % 10
                            </a>
                        </td>                      

                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="text-success fw-bolder">
                                Approve
                            </a>
                            | <a href="javascript:void(0)" class="text-danger fw-bolder">
                                Reject
                            </a>
                            | <a href="javascript:void(0)" class="text-primary fw-bolder" (click)="open(employeePerformanceModal)">
                                Details
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)"
                                class="text-dark fw-bolder text-hover-primary  fs-6 ArFontStyle" lang="AR-SA">6764-9087		
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                سالم مرزوق راشد الطحيح
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Hajj Loan
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Online
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                3
                            </a>
                        </td> 
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                20000
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                % 5
                            </a>
                        </td>                      

                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="text-success fw-bolder">
                                Approve
                            </a>
                            | <a href="javascript:void(0)" class="text-danger fw-bolder">
                                Reject
                            </a>
                            | <a href="javascript:void(0)" class="text-primary fw-bolder" (click)="open(employeePerformanceModal)">
                                Details
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)"
                                class="text-dark fw-bolder text-hover-primary  fs-6 ArFontStyle" lang="AR-SA">3249-9087			
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                على ذياب على المشوط
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Financial Loan
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Local
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                6
                            </a>
                        </td> 
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                22000
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                % 12
                            </a>
                        </td>                      

                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="text-success fw-bolder">
                                Approve
                            </a>
                            | <a href="javascript:void(0)" class="text-danger fw-bolder">
                                Reject
                            </a>
                            | <a href="javascript:void(0)" class="text-primary fw-bolder" (click)="open(employeePerformanceModal)">
                                Details
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)"
                                class="text-dark fw-bolder text-hover-primary  fs-6 ArFontStyle" lang="AR-SA">	 2345-8484		
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                ناصر حسن جوهر حياه
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Social Loan
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Online
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                4
                            </a>
                        </td> 
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                14000
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                % 0
                            </a>
                        </td>                      

                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="text-success fw-bolder">
                                Approve
                            </a>
                            | <a href="javascript:void(0)" class="text-danger fw-bolder">
                                Reject
                            </a>
                            | <a href="javascript:void(0)" class="text-primary fw-bolder " (click)="open(employeePerformanceModal)">
                                Details
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)"
                                class="text-dark fw-bolder text-hover-primary  fs-6 ArFontStyle" lang="AR-SA"> 9884-9064			
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                ناجى سعود محمد الزيد
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Social Loan
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                            Local
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                3
                            </a>
                        </td> 
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                15000
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle" lang="AR-SA">
                                % 2
                            </a>
                        </td>                      

                    </tr>
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
    </div>
    <!--begin::Body-->
    <div class="card-footer">
        
    </div>
</div>

<!--TO DISPLAY EMPLOYEE CONTACT DETAILS IN MODAL POPUP-->
<ng-template #employeePerformanceModal let-modal>
    <div class="modal-header bg-light">
      <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">&times;</button>
      <h4 class="modal-title" id="modal-basic-title">Employee Performance</h4>
    </div>
    <div class="modal-body">
      <!-- end::Header-->
      <!-- begin::Body-->
      
        <!--begin::Contacts-->
       <app-contact-details></app-contact-details>
        <!--end::Contacts-->
   
      <!-- end: Card Body-->
    </div>
    <div class="modal-footer bg-light">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Close</button>
      </div>
    </div>
  </ng-template>