/* You can add global styles to this file, and also import other style files */
//@import "./assets/sass/style";
@import "./assets/css/style.rtl";

// Replace above style with this SCSS file to enable dark mode styles
//@import "./assets/sass/style.dark";

@import "./assets/sass/style.angular.scss";
.card {
    transition: box-shadow .3s;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    
  }
  .card:hover {
    box-shadow: 0 0 11px rgba(82, 88, 97,1); 
  }
  